aws {

  batch {
    jobRole = 'arn:aws:iam::843407916570:role/nextflow-s3-multipart-upload-error-batch-instance-role--task'
    cliPath = '/opt/awscliv2/bin/aws'
    volumes = '/scratch'
  }

}

docker {
  enabled = true
  runOptions = '-u $(id -u):$(id -g)'
}

process {

  executor = 'awsbatch'
  scratch = '/scratch/'

  containerOptions = '--env LD_LIBRARY_PATH=/opt/awscliv2/aws-cli/v2/current/dist'

  withName: 'LIST' {
    container = 'quay.io/bioconda/base-glibc-busybox-bash:3.1'
    queue = 'nextflow-s3-multipart-upload-error'
    cpus = 1
    memory = 6.GB
  }

}
